* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* padding: 20px; */
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e2e2e2;
}

.item {
    /* flex-direction: column; */
    width: 30vw;
    /* height: 1rem; */
}

.item1 {
    background-color: #ff5733;
}

.item2 {
    background-color: #33c1ff;
}

.item3 {
    background-color: #768854;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex: 1;
    /* cursor: pointer; */
}

.nav-item>li {
    cursor: pointer;
}

.nav-item>li:hover {
    color: #ff5733;
    font-weight: bold;
    background-color: #333;
}

.myflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e2e2e2;
}

.myflex .items {
    background-color: #768854;
    width: 20vw;
    height: 10vh;
    margin: 10px;
    text-align: center;
    line-height: 10vh;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}